version: "3.3"

services:
  app:
    restart: always
    build:
      context: ./php
    container_name: app
    volumes:
      - ${PROJECT_PATH}:/var/www/html
      - ./php/supervisord.conf:/etc/supervisor/supervisord.conf
      - ./php/supervisor.d:/etc/supervisor/programs.d/
    ports:
      - "8000:8000"
      - "5173:5173"
      - "6001:6001"
      - "3030:3030"
    environment:
      - QUEUE_CONNECTION=redis
      - BROADCAST_DRIVER=log
    depends_on:
      - mysql
      - redis
      - mongodb
    command: supervisord -c /etc/supervisor/supervisord.conf

  nginx:
    restart: always
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ${PROJECT_PATH}:/var/www/html
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/ssl:/etc/nginx/ssl
    depends_on:
      - app

  mysql:
    restart: always
    image: mysql:8.0
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - ./mysql_data:/var/lib/mysql

  redis:
    restart: always
    image: redis:alpine
    container_name: redis
    ports:
      - "6379:6379"

  mongodb:
    restart: always
    image: mongo:7.0
    container_name: mongodb
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
    volumes:
      - ./mongodb_data:/data/db
